body {
    background: url(/bg.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  main{
    margin-top: 20px;
  }
.container{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 100px;
    height: 100px;
    visibility: hidden;
}
h1{
    text-align: center;
    font-family: cursive;
    margin-top: 20px;
}
form{
    font-family: cursive;
}