# EditorConfig helps maintain consistent coding styles for multiple developers
# See https://editorconfig.org/ for more info

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# HTML
[*.html]
indent_size = 2

# CSS
[*.css]
indent_size = 2

# JavaScript
[*.{js,jsx,ts,tsx}]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# JSON
[*.json]
indent_size = 2
