body {
    background: url(bg.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main{
    margin-top: 20px;
}
h1{
    text-align: center;
    font-family: cursive;
    margin-top: 20px;
}
.container{
    margin-top: 60px;
    text-align: center;
}
.row{
    padding: 10px;
    text-align: center;
}
a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}